//文章目录默认展开
.post-toc .nav .nav-child { 
    display: block; 
}
//文章目录字体大小调整
.post-toc ol {  
    font-size : 13px;     
}

//网页背景图片
body {
    background:url(/images/village.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}


//###### 博客内容透明化 ######

:root {
  --content-bg-color:#000000d0;
}


//菜单栏背景
//.header-inner {
//  background:url(/images/shadow.png);
//}